---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>wTCb9AumfkXtr27Q</Key>      <Password>RHz0ShHCr73OwFqQu5RC1CL7B</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087224</AccountNumber>    <MeterNumber>118727760</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <VariableOptions>SATURDAY_DELIVERY</VariableOptions>  <RequestedShipment>    <ShipTimestamp>2016-05-24T14:16:36-07:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <City>Beverly
        Hills</City>        <PostalCode>90210</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <City>Ottawa</City>        <PostalCode>K1P
        1J1</PostalCode>        <CountryCode>CA</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>0.22</Value>      </Weight>      <Dimensions>        <Length>37</Length>        <Width>4</Width>        <Height>4</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4djxB/BFdu6Bd7dK9l2vKcsLoBxuCEbM12kwUffT0WqzWwhNfXxOuv1xkOK5NUzCbP46u7vtBQL8InqrXYgHsCoR6RU11Zne5eRfVnPz2s4QoPe1Z+CQvAGl4TWII9O/OWvtMAQtNaTfpLWdypqTSez/SymL6XCE0GqpKUl0sOsjLPy4hAFwgDB7dB2VpBiXONg==
      X-Wily-Info:
      - Clear guid=E4A06744CC87128E0F000C2D8BAC6158
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <RateReply xmlns="http://fedex.com/ws/rate/v13" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>886</Code><Message>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. </Message><LocalizedMessage>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>886</Code><Message>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. FDXG</Message><LocalizedMessage>Money Back Guarantee is not eligible for this pick up/delivery postal/zip code. FDXG</LocalizedMessage><MessageParameters><Id>OPERATING_COMPANY</Id><Value>FDXG</Value></MessageParameters></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The origin state/province code has been changed.  </Message><LocalizedMessage>The origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The destination state/province code has been changed.  </Message><LocalizedMessage>The destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>INTERNATIONAL_PRIORITY</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>YOWA </DeliveryStation><DeliveryDayOfWeek>WED</DeliveryDayOfWeek><DeliveryTimestamp>2016-05-25T12:00:00</DeliveryTimestamp><CommitDetails><CommodityName>DOCUMENTS</CommodityName><ServiceType>INTERNATIONAL_PRIORITY</ServiceType><CommitTimestamp>2016-05-25T12:00:00</CommitTimestamp><DayOfWeek>WED</DayOfWeek><DestinationServiceArea>AM</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><CommitMessages><Code>134</Code><Message>REQUEST COMPLETED</Message></CommitMessages><DeliveryMessages>BY NOON IF NO CUSTOMS DELAY</DeliveryMessages><DocumentContent>DOCUMENTS_ONLY</DocumentContent><RequiredDocuments>INTERNATIONAL_AIRWAY_BILL</RequiredDocuments></CommitDetails><DestinationAirportId>YOW</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>A1</OriginServiceArea><DestinationServiceArea>AM</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_SHIPMENT</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_SHIPMENT</RateType><RateScale>0000000</RateScale><RateZone>US001O</RateZone><PricingCode>ACTUAL</PricingCode><RatedWeightMethod>DIM</RatedWeightMethod><CurrencyExchangeRate><FromCurrency>USD</FromCurrency><IntoCurrency>USD</IntoCurrency><Rate>1.0</Rate></CurrencyExchangeRate><DimDivisor>139</DimDivisor><DimDivisorType>COUNTRY</DimDivisorType><FuelSurchargePercent>0.75</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>5.0</Value></TotalBillingWeight><TotalDimWeight><Units>LB</Units><Value>5.0</Value></TotalDimWeight><TotalBaseCharge><Currency>USD</Currency><Amount>110.52</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>110.52</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>4.51</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>115.03</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>115.03</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>115.03</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential delivery</Description><Amount><Currency>USD</Currency><Amount>3.65</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>0.86</Amount></Amount></Surcharges></ShipmentRateDetail></RatedShipmentDetails><RatedShipmentDetails><ShipmentRateDetail><RateType>RATED_ACCOUNT_SHIPMENT</RateType><RateScale>0000000</RateScale><RateZone>US001O</RateZone><PricingCode>ACTUAL</PricingCode><RatedWeightMethod>[...]
